<script lang="ts">
  import "carbon-components-svelte/css/g80.css";
  import {
    PasswordInput,
    Form,
    Button,
    FormGroup,
    Grid,
    Row,
    Column,
    Content,
    Header,
    InlineLoading,
    InlineNotification,
  } from "carbon-components-svelte";
  import XRPSymbol from "../xrp-symbol-white.svg";
  import Locked16 from "carbon-icons-svelte/lib/Locked16";

  let password = "";
  let submitting = false;
  let error = null;

  const submit = () => {
    submitting = true;
    error = null;

    if (password === "123") {
      setTimeout(() => {
        location.hash = "/logged-in";
      }, 500);
    } else {
      setTimeout(() => {
        error = "Invalid password.";
        submitting = false;
      }, 250);
    }
  };
  // TODO: access user information from browser storage api
  // console.log(browser);
</script>

<Header company="XRP" />

<Content>
  <Grid>
    <Row>
      <Column class="text-center">
        {@html XRPSymbol}
      </Column>
    </Row>
  </Grid>
  <h1>Welcome back!</h1>
  <Form on:submit={submit}>
    {#if error}
      <InlineNotification title="Error:" subtitle={error} />
    {/if}
    <FormGroup>
      <PasswordInput
        name="password"
        autofocus
        labelText="Password"
        placeholder="Enter password..."
        bind:value={password}
        disabled={submitting}
      />
    </FormGroup>
    {#if submitting}
      <InlineLoading class="d-inline" description="Unlocking..." />
    {:else}
      <Button disabled={!password} icon={Locked16} type="submit" size="field"
        >Unlock</Button
      >
    {/if}
  </Form>
</Content>

<style>
  h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  :global(.d-inline) {
    display: inline;
  }
</style>
