<script lang="ts">
  import jazzicon from "@metamask/jazzicon";
  import {
    CodeSnippet,
    Column,
    Content,
    Row,
    Grid,
    Header,
    HeaderGlobalAction,
    HeaderUtilities,
    Button,
    Tabs,
    TabContent,
    Tab,
    SkeletonText,
    SkeletonPlaceholder,
    ComposedModal,
    ModalBody,
    ModalHeader,
  } from "carbon-components-svelte";
  import Download16 from "carbon-icons-svelte/lib/Download16";
  import SendAlt20 from "carbon-icons-svelte/lib/SendAlt20";
  import { onMount } from "svelte";
  import TransactionItem from "../../components/TransactionItem.svelte";
  import { RippleAPI } from "ripple-lib";
  import { address, transactions, balance, account } from "../store";
  import QRCode from "qrcode";
  import { derived } from "svelte/store";

  let qrcodeURI;
  let container;
  let modalOpen = false;

  let loadingBalance = true;
  let loadingTransactions = true;
  let ref;
  const displayedTransactions = derived(transactions, ($transactions) =>
    $transactions.slice(0, 5)
  );

  onMount(async () => {
    if (ref) {
      ref.removeAttribute("href");
    }
    container.appendChild(jazzicon(35, $address));

    const canvas: HTMLCanvasElement = await QRCode.toCanvas($address, {
      width: 250,
    });
    qrcodeURI = canvas.toDataURL();

    const testnet = new RippleAPI({
      server: "wss://s.altnet.rippletest.net/",
    });
    (async function (api) {
      await api.connect();
      api.connection.on("transaction", async ({ transaction }) => {
        const tx = await api.getTransaction(transaction.hash);
        transactions.append(tx);
        const accountInfo = await api.getAccountInfo($address);
        $account.balance = parseFloat(accountInfo.xrpBalance);
      });
      api
        .request("subscribe", {
          accounts: [$address],
        })
        .then(() => console.log("Subscribed!"));

      const serverInfo = await api.getServerInfo();
      const ledgers = serverInfo.completeLedgers.split("-");
      const ledgerVersionRange = {
        minLedgerVersion: Number(ledgers[0]),
        maxLedgerVersion: Number(ledgers[1]),
      };
      const accountInfo = await api.getAccountInfo($address);
      $account.balance = parseFloat(accountInfo.xrpBalance);
      loadingBalance = false;
      $transactions = await api.getTransactions($address, {
        limit: 5,
        earliestFirst: false,
        ...ledgerVersionRange,
      });
      loadingTransactions = false;
    })(testnet);
  });
</script>

<Header company="XRP">
  <HeaderUtilities>
    <HeaderGlobalAction aria-label="User" bind:ref={container} />
  </HeaderUtilities>
</Header>

<Content class="content">
  <h3>Account Details</h3>
  <CodeSnippet code={$address} />
  <Grid>
    <Row>
      <Column class="text-center">
        <div class="amounts">
          {#if loadingBalance}
            <SkeletonText heading />
          {:else}
            <h2 class="font-monospace">
              {$balance.toLocaleString()} XRP
            </h2>
          {/if}
        </div>
        <Grid class="button-actions">
          <Row>
            <Column
              ><Button
                icon={Download16}
                iconDescription="Buy"
                on:click={() => (modalOpen = true)}
              /></Column
            >
            <Column><Button icon={SendAlt20} iconDescription="Send" /></Column>
          </Row>
        </Grid>
      </Column>
    </Row>
  </Grid>
  <Tabs>
    <Tab label="Activity" bind:ref />
    <div slot="content">
      <TabContent>
        {#if loadingTransactions}
          <SkeletonPlaceholder style="height: 2rem; width: 100%" />
        {:else}
          {#each $displayedTransactions as tx (tx.id)}
            <TransactionItem transaction={tx} />
          {:else}
            <p>You have no transactions.</p>
          {/each}
        {/if}
      </TabContent>
    </div>
  </Tabs>
</Content>

<ComposedModal size="sm" bind:open={modalOpen} on:open on:close>
  <ModalHeader title="Address QR Code" />
  <ModalBody class="modal-center">
    <img src={qrcodeURI} alt={`${$address} qr code`} />
  </ModalBody>
</ComposedModal>

<style>
  .amounts {
    margin: 1rem auto;
  }
  :global(.button-actions) {
    margin: 1rem auto;
  }
  :global(.content) {
    padding: 1rem !important;
  }
  :global(.bx--tab-content) {
    padding: 0 !important;
  }
  :global(.modal-center) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0 !important;
  }
</style>
