<script lang="ts">
    import {
        ClickableTile,
        ComposedModal,
        ModalHeader,
        ModalBody,
    } from "carbon-components-svelte";
    import CopyToClipboard from "svelte-copy-to-clipboard";
    import Download16 from "carbon-icons-svelte/lib/Download16";
    import SendAlt20 from "carbon-icons-svelte/lib/SendAlt20";
    import Time, { dayjs } from "svelte-time";
    import localizedFormat from "dayjs/plugin/localizedFormat";
    import { address } from "../src/store";
    import type { FormattedPaymentTransaction } from "ripple-lib/dist/npm/transaction/types";
    dayjs.extend(localizedFormat);

    export let transaction: FormattedPaymentTransaction;

    const isReceived =
        transaction.specification.destination.address === $address;
    const action = isReceived ? "Received" : "Sent";
    const fromToAction = isReceived ? "From" : "To";
    const fromTo = isReceived
        ? transaction.specification.source.address
        : transaction.specification.destination.address;
    let modalOpen = false;
</script>

<ClickableTile style="padding: 0.5rem;" on:click={() => (modalOpen = true)}>
    <div class="grid">
        <div class="row">
            <div class="col col--icon col-sm-10">
                {#if isReceived}
                    <Download16 />
                {:else}
                    <SendAlt20 />
                {/if}
            </div>
            <div class="col col-sm-90">
                <div class="grid">
                    <div class="row">
                        <div class="col">
                            <div class="grid">
                                <div class="row row--space-between">
                                    <h4>{action}</h4>
                                    <h4>
                                        {transaction.outcome.deliveredAmount
                                            .value}
                                        {transaction.outcome.deliveredAmount
                                            .currency}
                                    </h4>
                                </div>
                                <div class="row row--space-between">
                                    <small class="bx--text-truncate--end short">
                                        <Time
                                            title={transaction.outcome
                                                .timestamp}
                                            timestamp={transaction.outcome
                                                .timestamp}
                                            format="MMM DD"
                                        />
                                        &bull; {fromToAction}
                                        {fromTo}
                                    </small>
                                    <small>{transaction.outcome.fee}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ClickableTile>

<ComposedModal size="sm" bind:open={modalOpen} on:open on:close>
    <ModalHeader title={action} />
    <ModalBody>
        <h4>Details</h4>
        <p class="modal--details">
            <CopyToClipboard
                text={transaction.specification.source.address}
                let:copy
            >
                <span
                    on:click={copy}
                    class="bx--text-truncate--end"
                    title={transaction.specification.source.address}
                    >{transaction.specification.source.address}</span
                >
            </CopyToClipboard>
            &rarr;
            <CopyToClipboard
                text={transaction.specification.destination.address}
                let:copy
            >
                <span
                    class="bx--text-truncate--end"
                    title={transaction.specification.destination.address}
                    >{transaction.specification.destination.address}</span
                >
            </CopyToClipboard>
        </p>
        <h4>Transaction</h4>
        <table class="bx--data-table bx--data-table--no-border">
            <tbody>
                <tr>
                    <td>Date</td>
                    <td
                        ><Time
                            timestamp={transaction.outcome.timestamp}
                            format="L LTS"
                        /></td
                    >
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{transaction.type}</td>
                </tr>
                <tr>
                    <td>Max Amount</td>
                    <td
                        >{transaction.specification.source.maxAmount.value}
                        {transaction.specification.source.maxAmount
                            .currency}</td
                    >
                </tr>
                <tr>
                    <td>Fee</td>
                    <td>{transaction.outcome.fee}</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td
                        >{transaction.outcome.deliveredAmount.value}
                        {transaction.outcome.deliveredAmount.currency}</td
                    >
                </tr>
            </tbody>
        </table>
    </ModalBody>
</ComposedModal>

<style lang="scss">
    .grid {
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        display: flex;
        align-items: center;
    }
    .row--space-between {
        justify-content: space-between;
    }
    .col {
        display: block;
        width: 100%;
    }
    .col-sm-10 {
        max-width: 10%;
        flex: 0 0 10%;
    }
    .col-sm-90 {
        max-width: 90%;
        flex: 0 0 90%;
    }
    .col--icon {
        padding-right: 0.5rem;
    }
    small {
        font-size: 0.75rem;
    }
    .short {
        width: 50%;
    }
    span {
        max-width: 40%;
    }
    .modal--details {
        display: inline-flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    tr {
        pointer-events: none;
    }
    td {
        border-bottom: 1px solid #393939;
    }
    tr td:nth-child(1) {
        background-color: #6f6f6f;
        color: #f4f4f4;
    }
</style>
