<script lang="ts">
  import "carbon-components-svelte/css/g80.css";
  import { Theme } from "carbon-components-svelte";
  import Router from "svelte-hash-router";
</script>

<Theme theme="g80" />

<Router />

<style>
  :global(body),
  :global(html) {
    width: 357px;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  :global(.font-monospace) {
    font-family: "Source Code Pro", monospace;
  }

  :global(.text-center) {
    text-align: center;
  }

  :global(.bx--header ~ .bx--content) {
    min-height: calc(100vh - 3rem);
  }
</style>
